@tailwind base;
@tailwind components;
@tailwind utilities;

nav a.active {
  opacity: 1;
  background-color: #2e4057;
}

.svgUp {
  background-image: url("/svg/waveUp.svg");
}

.svgDown {
  background-image: url("/svg/waveDown.svg");
}

.svgUp,
.svgDown {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.tab__buttons {
  background-color: #2e4057;
}
.tab__buttons:hover {
  background-color: #255cff;
}
.tab__buttons--active {
  background-color: #255cff;
  transform: translateY(-5px);
}

.tab__contents {
  display: none;
}
.tab__contents--active {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.paragraf__contents {
  display: none;
}
.paragraf__contents--active {
  display: flex;
  flex-direction: column;
}

.hamburger {
  width: 24px;
  height: 2px;
  top: 1.5rem;
  right: 1.5rem;
  background: transparent;
  transform: rotate(0);
  transition: all 0.3s;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  /* background: #0b2471; */
  transform: rotate(0);
  transition: all 0.3s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  background: white;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  background: white;
}
